@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
html {
    font-weight: bold;
  width: 100vw;
  height: 100vh;
  background: url('/images/background.png');
  background-size: 250px;
  background-repeat: repeat-x repeat-y;
  color: #CBD2D9;
}

a {
    color: #091182;
}

body {
  font-weight: bold;
  width: 100vw;
  height: 100vh;
  background: url('/images/background.png');
  background-size: 250px;
  background-repeat: repeat-x repeat-y;
  font-family: "Inter", sans-serif;
}

.no-underline {
    text-decoration: none;
}

.centered-header {
    text-align: center;
}

.hidden-text {
   text-decoration: none;
    text-align: center;
    color: #01031d;
}
